/* Change all box sizing to border box */
* {
    box-sizing: border-box;
}

.page{

    display: flex;
    flex-direction: row-reverse;

}

/* styling for etch a sketch grid */

.container {
    display: flex;
    flex-direction: column;
    border: 0.2em solid #020222;

    /* set the width to be half the page with equal height */
    width: 100%;
    aspect-ratio: 1 / 1;

}

.row {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.pixel {
    flex: auto;
    aspect-ratio: 1 / 1;

    background-color: white;


}

/* styyling for the control side of the page */
.controls{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;

}

/* Styling for the slider */

.slidecontainer {
    margin-top: 2.5%;
    width: 60%;
    /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #01001a;
    cursor: pointer;
}