/* Change all box sizing to border box */
* {
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    /* Add flex box to the entire body */
    display: flex;
    flex-direction: column;

    background-color: lightgrey;

    flex: auto;
}

h1 {
    text-align: center;
    font-size: 300%;

}

.page {

    display: flex;
    flex-direction: row-reverse;

}

/* styling for etch a sketch grid */

.container {
    display: flex;
    flex-direction: column;
    border: 0.2em solid #020222;

    /* set the width to be half the page with equal height */
    width: 75%;
    aspect-ratio: 1 / 1;

    margin: 1em;

}

.row {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.pixel {
    flex: auto;
    aspect-ratio: 1 / 1;

    background-color: white;


}

/* styyling for the control side of the page */
.controls {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;

}

.colour {

    /* margin-bottom: 3em; */
    border-radius: 50px;

}

input.colourP {

    height: 5em;
    width: 5em;

    border-radius: 1em;

    content: fill;
    background-color: none;
}

/* Styling for rainbow switch */
/* The switch - the box around the slider */

.rainbowContainer{
    margin: 3em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;


}

p.label{
    font-size: 1em;
}


.switch {
    position: relative;
    display: inline-block;
    width: 5.5em;
    height: 2em;

}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider for the rainbow*/
.rainbow {

    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

}

.rainbow:before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    left: 0.25em;
    bottom: 0.25em;
    background-color: #252525;
    -webkit-transition: .7s;
    transition: .7s;
  }
  
  input:checked + .rainbow{
    background-color: #383838;
  }
  
  input:focus + .rainbow {
    box-shadow: 0 0 1px #383838;
  }
  
  input:checked + .rainbow:before {
    -webkit-transform: translateX(3.25em);
    -ms-transform: translateX(3.25em);
    transform: translateX(3.25em);
  }
  
  /* Rounded sliders */
  .rainbow.round {
    border-radius: 34px;
  }
  
  .rainbow.round:before {
    border-radius: 50%;
  }


.clearButton {
    margin-bottom: 5em;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #383838;
    font: times;
    padding: 0.5em;
    border: 0.1em solid black;
    border-radius: 0.3em;
}

.dimension {
    font-size: 200%;
    font: times;
}

/* Styling for the slider */

.slidecontainer {
    margin-top: 2.5%;
    width: 60%;
    /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #383838;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}